div(class="search")
 form(class="applicant-search" action="/applicants" method="get" role="search")
  label(class="form-label" for="applicant-search") Search applicants
   span(class="form-hint") Enter an id or full name
  input(class="form-control" id="applicant-search" type="text")
  input(class="submit" type="submit" value="Search")
