div(class="form-group")

 form(class="form-group-related" action="/applicants/view" method="GET" role="search")
  div(class="search-content")
  label(class="form-label" for="applicant-search") Search for applicants
   span(class="form-hint") Enter an applicant id
  input(class="form-control js-enabled focused" id="id" name="id" type="text" required)
  input(class="button" type="submit" value="Search")
div(class="form-group")
 form(class="form-group-related" action="/applicants/view" method="get" role="search")
  
  label(class="form-label" for="applicant-search") Search for applicants
   span(class="form-hint") Enter the applicant's full name
  input(class="form-control" type="text" name="full_name" required)
  input(class="submit button" type="submit" value="Search")

