extends layout

                  
block content
 div(class="welcome-text")
  h1(class="heading-xlarge") Welcome to this list of job applicants
  p(class="font-large") The best place applicants for the Junior Developer
  
 div(class="search-form")
  include ./includes/search-form.pug
   
  h2 Here's the full list
  table
   thead
    tr
     th(scope="col") Id
     th(scope="col") Full name
     th(scope="col") More details
     tbody
     each applicant in applicant_list
      tr
       td(class="numeric") #{applicant.id}
       td #{applicant.full_name}
       td 
        a(href='/applicants/view?id='+applicant.id class="link") More details
      