doctype html
html(lang="en")
  include ./includes/head.pug
    
    

   
main
  body
   header(class="homepage-top") HOD Applicants

   div(id="page-container")
     div(class="grid-row")

      div(class="column-two-thirds")
       block content
      
      script(src='/javascripts/validate_form.js')
