doctype html
html(lang="en")
  include ./includes/head.pug
    
    

    

  body
    div(id="page-container")
     div(class="grid-row")

      div(class="column-two-thirds")
       block content
      div(class="column-third")
       block content
      script(src='/javascripts/validate_form.js')
