doctype html
html(lang="en")
  include ./includes/head.pug
    
    

   
body
  header(role="banner" id="global-header" class="content") 
   a(href="https://hodigital.blog.gov.uk/") Home Office Digital
  main(id="content")
   div(id="page-container")
    div(class="grid-row")
     div(class="column-full")
      block content

  footer
   
